<% lists.forEach(list => { %>
    <div class="tasksContainer" id="<%= list.name %>Tasks" data-name="<%= list.name %>">
        <div class="cardHeader">
            <p><%= list.name %></p>
        </div>
        <button class="newTaskBtn" href="/newTask" data-name="<%= list.name %>">
            <img src="/images/plus_icon.svg" alt="Plus Icon">
            Add a new task
        </button>
        <% list.tasks.forEach((task, index) => { %>
            <div class="taskDiv">
                <input 
                    type="checkbox" 
                    name="taskCheckbox"
                    class="taskCheckbox" 
                    data-list="<%= list.name %>" 
                    data-index="<%= index %>" 
                    <%= task.done ? 'checked' : '' %> 
                >
                <p class="taskTitle"><%= task.title %></p>
                <p class="taskDate"><%= task.date %></p>
                <p class="taskDescription"><%= task.description %></p>
            </div>
        <% }) %>
    </div>
<% }) %>